#sidebar-wrapper {
  min-height: 92vh !important;
  // border-right: 1px solid black;
  // border-top: 1px solid black;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white,
    12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 15px -4px rgba(31, 73, 125, 0.8);
  // background: white;
  // border-top-right-radius: 10px;
  background-color: rgb(19, 47, 76);
  color: white;
}

#page-content-wrapper {
  padding-left: 2rem !important;
}

.sidebar-menu-body {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.sidebar-menu-nav:hover {
  background-color: rgba(51, 153, 255, 0.24);
}
.sidebar-menu-nav:active {
  background-color: rgba(51, 153, 255, 0.24);
}
.findButton {
  display: flex;
  justify-content: flex-end;
}

.roommateSearch {
  border: 1px solid;
  border-radius: 2rem;
}
